body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightblue;
}

div.move {
margin:auto;
float: left;
clear: left;
clear: both;
width: 150px;
border: 1px solid black;
border-radius: 10px;
text-align: center;
}
#move2 {
margin:auto;
display:block;
vertical-align:middle;
clear: both;
float: left;
}

.button-div {
  width: 100%;
  position: relative;
  display: inline-block;
}
#html-button {
    margin-left: 20px;
}
.buttons {
  margin: 20px;
  /* width: 200px; */
  list-style-type: none;
  display: inline-block;
}

#form-submit {
  display: block;
  margin-left: 20px;
}

.new-component {
  position: relative;
  vertical-align: middle;
  width:120px ;
}

#new-component-1 {
  width: 100%;
  position: absolute;
  margin-top: 100px;
  clear: both;
  margin-right: 80px;
  display: block;
}

#new-component-2 {
  width: 500px;
  position: absolute;
  margin-top: 100px;
  float: right;
  margin-right: 80px;
  display: block;
}

#new-component-3 {
  width: 500px;
  display: table;
  position: absolute;
  margin-top: 100px;
  margin-right: 80px;
  display: block;
}
#new-component-4 {
  width: 500px;
  position: absolute;
  margin-top: 100px;
  margin-right: 80px;
  display: block;
}
#new-component-5 {
  width: 500px;
  position: absolute;
  margin-top: 100px;
  margin-right: 80px;
}
#new-component-6 {
  width: 500px;
  position: absolute;
  margin-top: 100px;
  margin-right: 80px;
}
#new-component-7 {
  width: 500px;
  position: absolute;
  margin-top: 100px;
  margin-right: 80px;
}

